/*
    Document   : master
    Author     : Alvaro Monge alvaro.monge@csulb.edu
    Description:
        A simple stylesheet
*/

body {
    width: 80%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #ffffdd;
}

.italic {
    font-style: italic;
}

ul {
    font-size: 90%;
}

li {
    padding-bottom: 1.5em;
}

li ul li {
    padding-bottom: 0em;
}

fieldset {
    width: 50%;
}