<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/carstoreDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name> <!-- SEE: https://jsflive.wordpress.com/2013/04/01/jsf22-config-resource-dir/ -->
        <param-value>/WEB-INF/resources</param-value>
    </context-param>

    <!-- Security Settings -->
     <security-constraint>
        <display-name>User functionality</display-name>
        <web-resource-collection>
            <url-pattern>/faces/actionPages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>reversecarstore.user</role-name>
        </auth-constraint>
	<user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
    </security-constraint>
    <security-role>
        <description>ReverseCarStore user</description>
        <role-name>reversecarstore.user</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml?error=true</form-error-page>
        </form-login-config>
    </login-config>


    <!-- TODO: Error Destination Pages -->








    <!---Servlets Start Here -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <!---Servlets End Here -->

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!--Homepage is set here -->
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
